*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important ;
    font-family: "Lato", sans-serif
}
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}
.nav-link{
    color: white;
}
.dropdown:hover{
    color: black;
}
.carousel{
    width: 100%;
    height: 100vh;
    color: white;
}
.carousel img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.carousel-caption{
    font-size: 25px;
}
.carousel-caption h2{
    font-size: 40px;
}
.card{
    border: none;
}
.para:nth-child(even){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}
.me-2{
    margin-left: 15px;
}
.col{
    width: 25%;
}
.card{
    width: 14rem;
    box-sizing: border-box;
}
.card-img-top{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.info{
   padding-left:200px;
}
.info p{
    margin: 3px;
}
.img-fluid{
    width: 100%;
    object-fit: cover;
}
.footerElement i{
    padding: 5px;
    color: white;
}
.bg-white i{
    color: black !important;
}
.form-control{
    box-sizing: border-box !important;
    border: 1.5 !important;

}
.form-control:focus{
    box-shadow: none !important;
    border-color:  black !important;
    border-width: 1.5px !important;
}
.btn-primary:focus{
    box-shadow: none !important;
}

#lastContainer .card-img-top{
    width: 100%;
    height: auto;
    object-fit: cover;
}